
*.log
*.pid
*.pid.lock
*.seed
*.tgz
.env
.eslintcache
.grunt
.idea
.lock-wscript
.node_repl_history
.npm
.nyc_output
.psa*
.psc*
.psc-package
.psci
.psci_modules
.pulp-cache
.purs*
.yarn-integrity
bower_components
buildRelease
coverage
generated-docs
jspm_packages
lib-cov
logs
node_modules
npm-debug.log*
output
pids
typings
yarn-debug.log*
yarn-error.log*
